.table {
	/* height: 100%; */
	th {
		font-size: rem(14px);
		font-weight: 500;
		border-top: none;
		padding-top: rem(10px);
		padding-bottom: rem(10px);
		padding-left: rem(16px);
		padding-right: rem(16px);
		background-color: var(--mantine-color-gray-1);
	}

	td {
		padding: 10px;
	}

	tbody {
		tr:hover {
			background-color: hsl(0, 0%, 98%);
		}
	}
}

.tfoot {
	tr {
		border-top: 1px solid var(--mantine-color-gray-3);
		border-bottom: none;

		td {
			padding: 5px 10px;
		}
	}
}
